/* Body */
body {
    background-color: #000000;
    background-image: url('/assets/images/bg-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

@font-face {
    font-family: 'steelfish';
    src: url('/assets/fonts/steelfish.ttf') format('truetype');
}

main {
    background: rgba(0,0,0,0.75);
}
main {
    -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
}
main.border-light {
    border-color:#333;
}
.border-top-dotted {
    border-top-style: dotted !important;
}

footer.footer {
    background-color:#000;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
    outline: 0;
}

.header-1 {
    font-family: 'steelfish', Arial, sans-serif;
    font-size:2rem;
}

/* Navbar */
nav.navbar.navbar-dark.bg-transparent-75 {
    background: rgba(0,0,0,.75) !important;
}
.nav-item.active {
    background:rgba(0,0,0,.75);
}
.nav-item a.nav-link:hover {
    text-decoration: underline;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}