<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

        <title><?=$site['basic']['head']['title'];?></title>

        <meta name="description" content="<?=$site['basic']['head']['description'];?>"/>
        <meta name="robots" content="index, follow"/>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/assets/styles/cover.css"/>

        <link rel="apple-touch-icon" sizes="180x180" href="<?=$site['basic']['favicon']['path'];?>apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<?=$site['basic']['favicon']['path'];?>favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<?=$site['basic']['favicon']['path'];?>favicon-16x16.png">
        <link rel="manifest" href="<?=$site['basic']['favicon']['path'];?>site.webmanifest">
        <link rel="mask-icon" href="<?=$site['basic']['favicon']['path'];?>safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="<?=$site['basic']['favicon']['path'];?>favicon.ico">

        <script src="/assets/js/site.js"></script>

        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="<?=$site['basic']['favicon']['path'];?>browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:image:width" content="<?=$site['basic']['og']['og:image:width'];?>">
        <meta property="og:image:height" content="<?=$site['basic']['og']['og:image:height'];?>">
        <meta property="og:title" content="<?=$site['basic']['og']['og:title'];?>">
        <meta property="og:description" content="<?=$site['basic']['og']['og:description'];?>">
        <meta property="og:url" content="<?=$site['basic']['og']['og:url'];?>">
        <meta property="og:image" content="<?=$site['basic']['og']['og:image'];?>">
        <meta property="og:type" content="<?=$site['basic']['og']['og:type'];?>"/>

    </head>

    <body class="text-center">

        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/<?=$site['basic']['fb']['language'];?>/sdk.js#xfbml=1&version=v3.1&appId=<?=$site['basic']['fb']['app_id'];?>&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>


        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="masthead-brand">
                                <div class="d-inline-block border border-light m-0 px-2">X</div><div class="d-inline-block border border-light m-0 px-2">D</div><div class="d-inline-block border border-light m-0 px-2">D</div>
                            </h2>
                        </div>
                        <div class="col-7 col-md-2">
                            <a class="btn btn-sm btn-success float-right" href="<?=$site['basic']['fb']['fp'];?>" target="_blank">Znajd&#378; nas na FB</a>
                        </div>
                        <div class="col-12 col-md-5 mb-2 mb-sm-0">
                            <div class="fb-like float-right" data-href="<?=$site['basic']['fb']['data_href'];?>" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </header>

            <main role="main" class="inner cover p-3 rounded border border-secondary align-middle">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="cover-heading border-bottom pb-3"><?=$site['basic']['html']['title'];?></h1>
                            </div>
                        </div>
                        <form action="/" method="post" enctype="multipart/form-data">
                            <div class="row <?=(isset($form_error)&&array_key_exists('character',$form_error)&&$form_error['character']!==null)?'has-error':''; ?>">
                                <?php foreach($site['input']['character'] as $character):?>
                                    <div class="col-<?=(count($site['input']['character'])===1)?12:6;?>">
                                        <input id="img-character-<?=$character['value'];?>" type="radio" name="<?=$character['name'];?>" value="<?=$character['value'];?>" <?=(count($site['input']['character'])===1)?'checked="checked"':null;?> />
                                        <label for="img-character-<?=$character['value'];?>">
                                            <img class="w-100" src="<?=$character['image_placeholder'];?>" />
                                        </label>
                                    </div>
                                <?php endforeach;?>
                            </div>
                            <?php foreach($site['input']['text'] as $text_input):?>
                                <div class="row justify-content-center <?=(isset($form_error)&&array_key_exists($text_input['name'],$form_error)&&$form_error[$text_input['name']]!==null)?'has-error':''; ?>">
                                    <div class="col-12">
                                        <p class="text-white border-top mt-2 pt-2"><?=$text_input['label'];?></p>
                                    </div>
                                    <div class="col-10">
                                        <div class="input-group mb-2">
                                            <input type="text" name="<?=$text_input['name'];?>" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="" onkeydown="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');" onkeyup="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');">
                                            <div class="input-group-append">
                                                <div id="count-<?=$text_input['name'];?>" data-limit="<?=$text_input['validators']['strlen']['options']['max'];?>" class="input-group-text"><?=$text_input['validators']['strlen']['options']['max'];?></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach;?>
                            <div class="row">
                                <div class="col-12">
                                    <span class="border-top mt-3 pt-2 d-block">&nbsp;</span>
                                    <input type="submit" name="submit" class="btn btn-lg btn-secondary" value="Generuj" />
                                </div>
                            </div>
                        </form>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <?php foreach($site['basic']['html']['footer'] as $footer):?>
                    <?php if(is_string($footer)):?>
                        <p class="mt-2 mb-2"><?=$footer;?></p>
                    <?php else:?>
                        <<?=$footer['html']['tag'];?> <?php foreach($footer['html']['attributes'] as $attrName=>$attrValue){ echo sprintf('%s="%s"',$attrName,$attrValue);};?>><?=$footer['html']['text'];?></<?=$footer['html']['tag'];?>>
                    <?php endif;?>
                    <?php endforeach;?>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=<?=$site['basic']['ga_code'];?>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<?=$site['basic']['ga_code'];?>');
        </script>

    </body>
</html>

