<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Pasek TVP :: Generator</title>

    <meta name="description" content="Generator paska Wiadomosci TVP."/>
    <meta name="robots" content="index, follow"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/styles/cover.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/1/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/1/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/1/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/1/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicons/1/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicons/1/favicon.ico">

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/images/favicons/1/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:description" content="Generator paska Wiadomosci TVP.">
    <meta property="og:title" content="Pasek TVP :: Generator">
    <meta property="og:url" content="https://pasek-tvp.pl">
    <meta property="og:image" content="pasek-tvp.pl/assets/images/og/1/og-image.jpg">
    <meta property="og:type" content="website"/>

    <script>
        function limitTxt(element)
        {
            var max_chars = 36;

            if(element.value.length > max_chars) {
                element.value = element.value.substr(0, max_chars);
            }
        }
        function countChar(element,elTarget)
        {
            var len = element.value.length;
            var count = document.createTextNode(len);
            var target = document.getElementById(elTarget);
            while (target.firstChild) {
                target.removeChild(target.firstChild);
            }
            target.appendChild(count);
        }
    </script>

</head>

<body class="text-center">

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.1&appId=312256366234529&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <div class="row">
                <div class="col-5">
                    <h2 class="masthead-brand">
                        <div class="d-inline-block border border-light m-0 px-2">X</div><div class="d-inline-block border border-light m-0 px-2">D</div><div class="d-inline-block border border-light m-0 px-2">D</div>
                    </h2>
                </div>
                <div class="col-7 col-md-2">
                    <a class="btn btn-sm btn-success float-right" href="https://www.facebook.com/Generator.XDD" target="_blank">Znajdź nas na FB</a>
                </div>
                <div class="col-12 col-md-5 mb-2 mb-sm-0">
                    <div class="fb-like float-right" data-href="https://pasek-tvp.pl/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="inner cover p-3 rounded border border-secondary align-middle text-left">
        <div class="row">
            <div class="col-12">
                <h1>Warunki korzystania z serwisu</h1>
                <p>Strona ma charakter humorystyczny.</p>
                <p>Autor oraz wlasciciel strony nie ponosza odpowiedzialnosci za tresci generowane za pomoca aplikacji.</p>
                <p>Autor oraz wlasciciel strony nie ponosza odpowiedzialnosci za ewentualne straty spowodowane za pomoca aplikacji.</p>
                <p>Kod zrodlowy Aplikacji mozna znalezc pod adresem <a href="https://bitbucket.org/generator-xdd/generator-xdd/" target="_blank">https://bitbucket.org/generator-xdd/generator-xdd/</a></p>
                <p>Kod zrodlowy jest udostepniony na zasadach licencji <a href="http://framework.zend.com/license/new-bsd" target="_blank">New BSD</a></p>
                <p>Wszelkie zapytania nalezy kierowac pod adres email info@generator-klamstw.pl</p>
                <p>Korzystanie z Aplikacji oznacza akceptacje powyzszych warunkow.</p>
            </div>
        </div>
    </main>
    <a href="/" class="btn btn-success"><< Powrot do strony glownej</a>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p class="mt-2">Strona nie ma związku z tvp, celem jest parodia ich propagandy.</p>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121422820-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121422820-3');
</script>

</body>
</html>

