<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

        <title>{{ site.basic.head.title }}</title>

        <meta name="description" content="{{ site.basic.head.description }}"/>
        <meta name="keywords" content="{{ site.basic.head.keywords }}"/>

        <meta name="robots" content="index, follow"/>

        <meta charset="UTF-8">

        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
        <link rel="stylesheet" href="/assets/styles/bootstrap.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/assets/styles/sticky-footer-navbar.css" />
        <link rel="stylesheet" href="/assets/styles/theme-dark.css" />
        <link rel="stylesheet" href="/assets/styles/carousel.css" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.basic.favicon.path }}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.basic.favicon.path }}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.basic.favicon.path }}favicon-16x16.png">
        <link rel="manifest" href="{{ site.basic.favicon.path }}site.webmanifest">
        <link rel="mask-icon" href="{{ site.basic.favicon.path }}safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="{{ site.basic.favicon.path }}favicon.ico">

        <script src="/assets/js/site.js"></script>

        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="{{ site.basic.favicon.path }}browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta  property="og:image:height" content="279"/>
        <meta  property="og:title" content="Generator paska Widomo&#347;ci TVP."/>
        <meta  property="og:description" content="Generator paska TVP. Strona nie ma zwi&#261;zku z TVN, celem jest parodia ich propagandy oraz kpina z ich zaklinania rzeczywisto&#347;ci."/>
        <meta  property="og:url" content="https://pasek-tvp.pl/b/{{ item_uid }}.png"/>
        <meta  property="og:image" content="https://pasek-tvp.pl/b/{{ item_uid }}.png"/>
        <meta  property="og:type" content="website"/>

    </head>

    <body class="text-center">

        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/{{ site.basic.fb.language }}/sdk.js#xfbml=1&version=v3.1&appId={{ site.basic.fb.app_id }}&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <header class="fixed-top">
            <div class="fluid-container">
                <!-- Fixed navbar -->
                <nav class="row navbar navbar-expand-lg navbar-dark bg-transparent-75">
                    <div class="container col-12 col-md-8">
                        <a class="navbar-brand" href="/">
                            <div class="d-inline-block border border-light m-0 px-2">X</div><div class="d-inline-block border border-light m-0 px-2">D</div><div class="d-inline-block border border-light m-0 px-2">D</div>
                        </a>
                        <a class="navbar-brand" href="https://stopacta2.org" target="_blank">
                            <img src="/assets/images/branding/stopacta2.png" style="height:32px" alt="" />
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse float-right navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://pasek-tvp.pl">Pasek TVP <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            {#<div class="d-none d-md-inline mt-2 mt-md-0">#}
                                {#<a class="btn btn-sm btn-success float-right" href="{{ site.basic.fb.fp }}" target="_blank">Znajd&#378; nas na FB</a>#}
                            {#</div>#}
                            <div class="d-none d-md-inline mt-2 mt-md-0">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://pasek-tvp.pl/g/{{ item_uid }}.png&t=TITLE"
                                   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                   class="btn btn-success btn-sm"
                                   target="_blank" title="Share on Facebook">Udostepnij na Facebooku</a>
                                {#<div class="fb-like float-right align-bottom" data-href="{{ site.basic.fb.data_href }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>#}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main role="main" class="container col-12 align-middle">
            <div class="row">
                <div class="col-12">
                    <div id="mainContent pb-2">
                        <img id="mainImage" class="mh-100 mw-100 mt-4 mb-4 p-2 rounded border border-secondary" style="max-width:100%;" />
                    </div>
                </div> <!-- .col-12 -->
                    </div> <!-- .row -->
        </main>

        <footer class="footer mt-3 d-block">
            <div class="container">
                {% for item in site.basic.html.footer %}
                    {% if item.html_tag is defined %}
                        {{ html_spec(item)|raw }}
                    {%  endif %}
                {% endfor %}
            </div>
        </footer>

        <div class="hidden d-none">
            <span id="ajax-server" data-host-url="{{ ajax_server }}"></span>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.basic.ga_code }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ site.basic.ga_code }}');

            applicationImage.initSingle({targetId:'mainContent',itemDefault:"{{ item_uid}}",preloadItem:true});

            {#applicationForm.init({targetId:'myTabContent',formDefault:'version-{{ site.basic.form_default }}',preloadForm:{% if (form_valid is defined) and (form_valid==false) %}false{% else %}true{% endif %}});#}

        </script>

    </body>
</html>

