<!-- EXTENDED -->
<div class="tab-pane fade show active" id="version-extended" role="tabpanel" aria-labelledby="version-extended-tab">
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <p class="pb-2 pt-2 mt-3 header-1"><?=$site['basic']['html']['main']['select_character']['text'];?></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <?php
                            $i = 0;
                        foreach($site['input']['character'] as $character):
                            // render each item as carousel slide
                        ?>
                            <div class="<?=(count($site['input']['character'])===1 || (!isset($form_valid)&&$i===0) || (isset($form_valid) && $form_valid===false && $form_data['character']==$character['value']))?'active':null;?> item carousel-item" data-slide-number="<?=$i;?>">
                                <img data-carousel-indicator-id="carousel-selector-<?=$character['value'];?>" src="<?=$character['image_placeholder'];?>" class="img-fluid w-100">
                            </div>
                        <?php
                            $i++;
                        endforeach;
                        ?>

                        <a class="carousel-control carousel-control-prev left pt-3" href="#myCarousel" data-slide="prev" onClick="javascript:applicationForm.btCarousel.setIndicatorAsActive(this);">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                            <!--                        <i class="fa fa-chevron-left"></i>-->
                        </a>
                        <a class="carousel-control carousel-control-next right pt-3" href="#myCarousel" data-slide="next" onClick="javascript:applicationForm.btCarousel.setIndicatorAsActive(this);">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                            <!--                        <i class="fa fa-chevron-right"></i>-->
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="version-extended-input-group" class="carousel-indicators list-inline text-left justify-left mx-0 mt-3 mb-3">
                    <?php
                    // iterate over the images declared in the config (site) file
                    $i=0;
                    foreach($site['input']['character'] as $character):
                        // each image as thumb
                        ?>
                        <li <?=(count($site['input']['character'])===1 || (!isset($form_valid)&&$i===0) || (isset($form_valid) && $form_valid===false && $form_data['character']==$character['value']))?'class="active"':null;?> >
                            <input id="img-extended-character-<?=$character['value'];?>" type="radio" name="<?=$character['name'];?>" value="<?=$character['value'];?>" <?=(count($site['input']['character'])===1 || (!isset($form_valid)&&$i===0) || (isset($form_valid) && $form_valid===false && $form_data['character']==$character['value']))?'checked="checked"':null;?> />
                            <label id="carousel-selector-<?=$character['value'];?>" class="mb-0 pb-2" for="img-extended-character-<?=$character['value'];?>" data-slide-to="<?=$i;?>" data-target="#myCarousel" onClick="javascript:applicationForm.htmlInput.selectRadioByLabel(this,'version-extended-input-group');">
                                <img class="w-100" src="<?=$character['image_placeholder'];?>" class="img-fluid" />
                            </label>
                        </li>
                        <?php
                        $i++;
                    endforeach;
                    ?>
                </ul>
            </div>
        </div>
        <?php
        $i = 0;
        foreach($site['input']['text'] as $text_input):
            ?>
            <div class="row justify-content-center <?=(isset($form_error)&&array_key_exists($text_input['name'],$form_error)&&$form_error[$text_input['name']]!==null)?'has-error':''; ?>">
                <div class="col-12">
                    <hr class="border-top border-top-dotted " />
                    <label for="inlineFormInputGroup" class="text-white mt-0 mb-3 header-1"><?=$text_input['label'];?></label>
                </div>
                <div class="col-11">
                    <div class="input-group mb-2">
                        <input type="text" name="<?=$text_input['name'];?>" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="" onchange="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');" onkeydown="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');" onkeyup="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');">
                        <div class="input-group-append">
                            <div id="count-<?=$text_input['name'];?>" data-limit="<?=$text_input['validators']['strlen']['options']['max'];?>" class="input-group-text"><?=$text_input['validators']['strlen']['options']['max'];?></div>
                        </div>
                    </div>
                </div>
            </div>
            <?php
            $i++;
        endforeach;
        ?>
        <div class="row">
            <div class="col-12">
                <span class="border-top mt-3 pt-2 d-block">&nbsp;</span>
                <input id="formTemplateId" type="hidden" name="form_template" value="version-extended" />
                <input type="submit" name="submit" class="w-100 btn btn-lg btn-success mb-4" value="Generuj" />
            </div>
        </div>
    </form>
</div>