<!-- BASIC -->dd
<div class="tab-pane fade show active" id="version-basic" role="tabpanel" aria-labelledby="version-basic-tab">
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="row <?=(isset($form_error)&&array_key_exists('character',$form_error)&&$form_error['character']!==null)?'has-error':''; ?>">
            <?php
            $i=0;
            foreach($site['input']['character'] as $character):?>
                <div class="col-<?=(count($site['input']['character'])===1)?12:6;?>">
                    <input id="img-character-<?=$character['value'];?>" type="radio" <?=($i===0)?'checked="checked"':null;?> name="<?=$character['name'];?>" value="<?=$character['value'];?>" <?=(count($site['input']['character'])===1)?'checked="checked"':null;?> />
                    <label for="img-character-<?=$character['value'];?>">
                        <img class="w-100" src="<?=$character['image_placeholder'];?>" />
                    </label>
                </div>
            <?php
            $i++;
            endforeach;
            ?>
        </div>
        <?php
        $i = 0;
        foreach($site['input']['text'] as $text_input):
        ?>
            <div class="row justify-content-center <?=(isset($form_error)&&array_key_exists($text_input['name'],$form_error)&&$form_error[$text_input['name']]!==null)?'has-error':''; ?>">
                <div class="col-12">
                    <p class="text-white border-top mt-2 pt-2"><?=$text_input['label'];?></p>
                </div>
                <div class="col-10">
                    <div class="input-group mb-2">
                        <input type="text" name="<?=$text_input['name'];?>" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="" onkeydown="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');" onkeyup="limitTxt(this);countChar(this,'count-<?=$text_input['name'];?>');">
                        <div class="input-group-append">
                            <div id="count-<?=$text_input['name'];?>" data-limit="<?=$text_input['validators']['strlen']['options']['max'];?>" class="input-group-text"><?=$text_input['validators']['strlen']['options']['max'];?></div>
                        </div>
                    </div>
                </div>
            </div>
        <?php
        $i++;
        endforeach;
        ?>
        <div class="row">
            <div class="col-12">
                <span class="border-top mt-3 pt-2 d-block">&nbsp;</span>
                <input type="hidden" name="form_template" value="version-basic" />
                <input type="submit" name="submit" class="btn btn-lg btn-secondary" value="Generuj" />
            </div>
        </div>
    </form>
</div>